[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = git@github.com:NVIDIA/cutlass.git
[submodule "third_party/LeetCUDA"]
	path = third_party/LeetCUDA
	url = git@github.com:xlite-dev/LeetCUDA.git
[submodule "third_party/triton"]
	path = third_party/triton
	url = git@github.com:triton-lang/triton.git
[submodule "third_party/bitsandbytes"]
	path = third_party/bitsandbytes
	url = git@github.com:bitsandbytes-foundation/bitsandbytes.git
[submodule "third_party/Liger-Kernel"]
	path = third_party/Liger-Kernel
	url = git@github.com:linkedin/Liger-Kernel.git
